
<mat-drawer-container class="task-container" autosize>
    
        <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
            <mat-icon [ngClass]="hide()"  (click)="drawer.toggle()">menu</mat-icon>
            <h1 (click)="drawer.toggle()">Lists</h1>
            <app-lists (updateTasks)="onLoadTasks($event)"></app-lists>
        </mat-drawer>

    <div class="flex-container">
        
        <div class="example-sidenav-content">
            <mat-icon (click)="drawer.toggle()" style="cursor: pointer;">menu</mat-icon>
            <h1 (click)="drawer.toggle()">Tasks</h1>

            <app-add-todo (addTask)="addTask($event)"></app-add-todo>
            <app-todo-item 
                *ngFor="let task of tasks"
                [task]="task"
                (deleteTask)="deleteTask($event)"
                (editTask)="editTask($event)"
            >
            </app-todo-item>
        
        </div>
    </div>
    
</mat-drawer-container>

