
  .example-sidenav-content {
    display: flex;
    flex-direction: column;
    width:60%;
    height:100%;
    align-items: left;
  }
  .example-sidenav {
    height:100%;
    padding: 5px 30px;
    width:30%;
    min-width:300px;
    background-color: rgb(135, 175, 190);
  }
  .example-sidenav-content button{
    position: absolute;
    top:0;
    right:0;
    background-color: white;
    font-size: 25px;
  }
  .task-container{
    min-height:100vh;
  }
  h1{
    color: #333;
  }
  mat-icon{
    position: absolute;
    top:0;
    left:0;
    font-size: 60px;
  }
  .hide{
    display:none;
  }
  @media only screen and (max-width: 800px) {
    .example-sidenav,.example-sidenav-content {
      width:80%;
    }
      .example-sidenav{
        width:100%;
      }
      .task-container{
        display :flex;
        flex-direction: column;
      }
  }

  @media only screen and (min-width: 1700px) {
    .example-sidenav {
      padding: 0vh 2vw;
    }
    .example-sidenav-content button{
      top:2vh;
      font-size: 2vw;
    }
  }