
<mat-drawer-container class="task-container" autosize>
    
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" >
        <app-lists (updateTasks)="onLoadTasks($event)"></app-lists>
    </mat-drawer>
    
    <div class="flex-container">
    
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">Toggle Lists</button>
            <h1>Tasks</h1>

            <app-add-todo (addTask)="addTask($event)"></app-add-todo>
            <app-todo-item 
                *ngFor="let task of tasks"
                [task]="task"
                (deleteTask)="deleteTask($event)"
                (editTask)="editTask($event)"
            >
            </app-todo-item>
        
        </div>
    </div>
    
</mat-drawer-container>

