  .hide{
    display: none;
  }
  .select{
    background-color:rgb(63, 197, 221);
    color:white;
  }
mat-card{
  cursor: pointer;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1700px) {
  mat-card{
    min-height:10vh;
    margin-bottom: 5vh;
  }
}